body{
  overflow: scroll !important;
}
.content-wrapper{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40vh 40vh 10vh;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  padding-top: 30px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  justify-content: space-evenly;
}

.content-wrapper .item{
  border: 2px solid #777;
  background-color: rgba(250, 250, 250, 0.8);
  border-radius: 20px;
  width: 100%;
  justify-self: center;
  padding: 20px;
  text-align: center;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
